/* CSS Resets */

/* Base Styles */
.btn,
ul {
    margin-top: 20px;
}

label {
    width: 100%;
    margin: 5px 0;
}

.high,
[type="radio"].radioHigh:checked + label:after {
    background: #ef5350; /* red lighten -1 */
}

.medium,
[type="radio"].radioMedium:checked + label:after {
    background: #ffa726; /* orange lighten-1 */
}

.low,
[type="radio"].radioLow:checked + label:after {
    background: #42a5f5; /* blue lighten-1 */
}

ul {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 60px;
}

ul li {
    padding: 0px;
    margin: 1% 1%;
    z-index: 0;
    width: 98%;
}

ul h5,
ul h3 {
    font-weight: bold;
    margin: 0;
    padding: 15px 10px;
}

/* Drag and Drop Plugin */
 ul[dnd-list],
 ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

 ul[dnd-list] .dndPlaceholder {
    display: block;
    height: 2px;
    background-color: black;
}

/* Materialize Custom Styles */
[type="radio"].radioHigh:checked + label:after {
    border: #ef5350;
}

[type="radio"].radioMedium:checked + label:after {
    border: #ffa726;
}

[type="radio"].radioLow:checked + label:after {
    border: #42a5f5;
}