<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">

<head>
    <meta charset="UTF-8">
    <title>Very Simple TODO App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
</head>

<body ng-controller="AppCtrl">
    <div class="container">
        <form ng-controller="AddTodoCtrl">
            <fieldset>
                <legend><b>Add a To-Do Item</b></legend>
                <div class="input-field">
                    <input type="text" id="itemText" ng-model="item.text" required="">
                    <label for="itemText">To-Do</label>
                </div>
                <fieldset>
                    <legend>Priority</legend>
                    <input ng-model="item.priority" ng-value="priorities.High" class="radioHigh" name="priorityGroup" type="radio" id="highPriority" />
                    <label class="red-text lighten-1" for="highPriority">High</label>
                    <input ng-model="item.priority" ng-value="priorities.Medium" class="radioMedium" name="priorityGroup" type="radio" id="medPriority" />
                    <label class="orange-text lighten-1" for="medPriority">Medium</label>
                    <input ng-model="item.priority" ng-value="priorities.Low" class="radioLow" name="priorityGroup" type="radio" id="lowPriority" />
                    <label class="blue-text lighten-1" for="lowPriority">Low</label>
                </fieldset>
                <button class="btn" ng-click="addTodo()">
                    <i class="material-icons">add</i>
                </button>
            </fieldset>
        </form>
        <div ng-controller="TodoListCtrl" class="todoList">
            <div class="btnContainer center-align">
                <button class="btn red lighten-1" ng-click="sortBy('priority.num', false)">Highest First</button>
                <button class="btn blue lighten-1" ng-click="sortBy('-priority.num', false)">Lowest First</button>
                <button class="btn" ng-click="sortBy('text', false)">Alphabetically</button>
            </div>
            <h3>My To-Do List</h3>
            <ul dnd-list="list">
                <li class="todoItem" ng-repeat="item in list" dnd-draggable="item" dnd-moved="list.splice($index,1)" dnd-effect-allowed="move" dnd-selected="selected = item" ng-class="{'selected':selected === item}">
                    <div ng-class="item.priority.class">
                        <div class="valign-wrapper">
                            <h5>{{item.text}}</h5>
                            <div class="fixed-action-btn horizontal valign">
                                <a class="btn-floating btn-large red darken-3">
                                    <i class="large material-icons">mode_edit</i>
                                </a>
                                <ul>
                                    <li>
                                        <a class="btn-floating red">
                                            <i class="material-icons" ng-click="delete(item)">delete</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--                     <i class="material-icons">delete</i>
 --></li>
            </ul>
        </div>
    </div>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.js"></script>
    <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="js/app.js"></script>
    <script src="js/addtodo.controller.js"></script>
    <script src="js/app.controller.js"></script>
    <script src="js/todolist.controller.js"></script>
    <script src="js/todolist.factory.js"></script>
    <!-- endinject -->
</body>

</html>
